{% extends "base.html" %}
{% block body %}

<main class="search-page">
    <h1 class="search-heading">Mina bokningar</h1>


    <div class="booking-sections">
        <div class="booking-section">
    <h2>Kommande</h2>
    {% if upcoming %}
    <div class="tutor-grid">
        {% for b in upcoming %}
        <div class="tutor-card">
            <div class="tutor-card-top">
                <div>
                    {% if b.course_code %}
                    <div class="tutor-name">{{ b.course_code }} – {{ b.course_name }}</div>
                    {% else %}
                    <div class="tutor-name">Bokning</div>
                    {% endif %}
                    <div class="tutor-program">{{ b.meeting_time.strftime('%d %b %Y, %H:%M') }}</div>
                </div>
                <span class="tutor-course-tag">Accepterad</span>
            </div>
           <div class="booking-bottom">
                <p class="tutor-bio">
                    {% if b.sender_id == user_id %}
                        Bokad med: {{ b.receiver_name }}
                    {% else %}
                        Bokad med: {{ b.sender_name }}
                    {% endif %}
                </p>

                <form method="POST"
                    action="{{ url_for('chat.cancel_booking', contract_id=b.id) }}"
                    onsubmit="return confirm('Bokningen försvinner om du avbokar. Vill du avboka?');">
                    
                    <button type="submit" class="search-btn">
                        Avboka
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Inga kommande bokningar.</p>
    {% endif %}
</div>

<div class="booking-section">
    <h2>Genomförda</h2>
    {% if past %}
    <div class="tutor-grid">
        {% for b in past %}
        <div class="tutor-card">
            <div class="tutor-card-top">
                <div>
                    {% if b.course_code %}
                    <div class="tutor-name">{{ b.course_code }} – {{ b.course_name }}</div>
                    {% else %}
                    <div class="tutor-name">Bokning</div>
                    {% endif %}
                    <div class="tutor-program">{{ b.meeting_time.strftime('%d %b %Y, %H:%M') }}</div>
                </div>
            </div>
            <p class="tutor-bio">
                {% if b.sender_id == user_id %}
                    Bokad med: {{ b.receiver_name }}
                {% else %}
                    Bokad med: {{ b.sender_name }}
                {% endif %}
            </p>
        </div>
        {% endfor %}
    {% else %}
    <p>Inga genomförda bokningar.</p>
    {% endif %}
   </div>
</div>

</main>

{% endblock %}