{% extends 'base.html'%}

{% block head%}
    <title>UNI:VERSE</title>
{% endblock %}
   
 {% block body%}
    <main>
        <div id="welcome">
        <h2>Välkomen till UNI:VERSE</h2>
        <h3>“All your university needs in one universe.”</h3>
        </div>
        <div id="about">
            <h2>Om oss</h2>
            <p>UNI:VERSE skapades för att studenter ska kunna hjälpa andra studenter. Vi som ligger bakom UNI:VERSE vill främja en gemenskap där vi kan lära av varandra och hjälpa varandra undeer universitetstiden!</p>
        </div>
    </main>
 {% endblock %}
